.controlpanel {
  background: rgb(208, 208, 208);
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 0.8rem 1.5rem 1.4rem 1.5rem;
}
.controlpanel__left,
.controlpanel__right {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.controlpanel__control {
  position: relative;
  padding: 0;
  padding-top: 1rem;
}

.controlpanel__label {
  position: absolute;
  text-transform: uppercase;
  top: -1rem;
  left: 0.2rem;
  font-weight: normal;
  font-size: 0.8rem;
}
svg.controlpanel__icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.controlpanel__envelope {
  fill: none;
  stroke: #e9931d;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
  background: #444;
  width: 140px;
  height: 28px;
  border: 2px black solid;
}
